---
layout: default
description: I'm Ruby addicted from Minsk, Belarus. In this blog you can find various thoughts on different subjects starting from web development area and going all the way to taxes and governments.
---

<div class="articles">
  {% include paging.html %}
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
      {% include article.html %}
      {% unless forloop.last %}
        <div class="content-block-separator"></div>
      {% endunless %}
  {% endfor %}
  {% include paging.html %}
</div>
