<div class="navbar navbar-fixed-top top-bar">
    <div class="navbar-inner">
        <div class="logo">
            <img src="{{ site.gravatar }}?size=32" />
        </div>
        <a class="brand" href="{{ site.url }}" rel="author">{{ site.author }}</a>
        <ul class="nav">
            <li>
                <a href="https://github.com/{{ site.github_user }}" rel="me" target="_blank">
                    <i class="icon-2x icon-github"></i>
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/{{ site.linkedin_linkedin }}" rel="me" target="_blank">
                    <i class="icon-2x icon-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="http://www.facebook.com/{{ site.facebook_user }}" rel="me" target="_blank">
                    <i class="icon-2x icon-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" rel="me" target="_blank">
                    <i class="icon-2x icon-google-plus-sign"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
{% include custom/navigation.html %}
